<template name="navbar">
  <div class="ui top fixed menu">
    <div class="header item">
      <i class="home icon"></i>
      Lobby
    </div>

    <div class="item">
      {{> loginButtons align="right"}}
    </div>

    <div class="right menu">
      {{#if inGame}}
        <!-- During the game we want to allow the player to double check their role -->
        <a class="item whoami">
          <i class="help icon"></i>
          My Role
        </a>
      {{else}}
        <!-- In the lobby this position is for the game settings (which shouldn't be changed in game anyway!) -->
        <a class="item settings">
          <i class="wrench icon"></i>
          Settings
        </a>
      {{/if}}
    </div>
  </div>
</template>