<template name="navbar">
  <div class="ui top fixed menu">
    <div class="header item">
      <i class="game icon"></i>
      Werewolves
    </div>

    <div class="right menu">
      {{#if inGame}}
        <!-- During the game we want to allow the player to double check their role -->
        <a class="item whoami">
          <i class="help icon"></i>
          My Role
        </a>
      {{else}}
        <!-- In the lobby this position is for the game settings (which shouldn't be changed in game anyway!) -->
        <a class="item settings">
          <i class="wrench icon"></i>
          Settings
        </a>
      {{/if}}

      <div class="item">
        {{> loginButtons align="right"}}
      </div>
    </div>

    <div class="ui modal settingsModal">
      <i class="close icon"></i>
      <div class="header">
        <i class="wrench icon"></i>
        Settings
      </div>

      <div class="content">
        <div class="ui divided list">
          <div class="item">
            <div class="right floated content">
              <button class="ui {{settingStates.doubleTag}} button doubleJeopardy">{{settingStates.doubleText}}</button>
            </div>
            <div class="content">
              <div class="header">
                Double Jeopardy
              </div>
              This is the double jeopardy rule.
            </div>
          </div>

          <div class="item revealNight">
            <div class="ui read-only toggle {{settingStates.revealNight}} checkbox">
              <input type="checkbox" name="revealNight">
              <label>Reveal Role at Night</label>
            </div>
          </div>
        </div>
      </div>

      <div class="actions">
        <div class="ui ok blue button">
          <i class="checkmark icon"></i>
          Done
        </div>
      </div>
    </div>
  </div>
</template>