<template name="nightTime">
  <header>
    <h1>It is night time</h1>

    <br>

    <button class="whoami">My Role</button>
  </header>

  <!-- This is where the players are given their individual screens -->
  {{#if selecting}}
    {{#if passive}}
      {{> passiveScreen}}
    {{else}} {{#if werewolf}}
      {{> werewolfScreen}}
    {{else}} {{#if doctor}}
      {{> doctorScreen}}
    {{else}} {{#if witch}}
      {{> witchScreen}}
    {{else}} {{#if seer}}
      {{> seerScreen}}
    {{/if}} {{/if}} {{/if}} {{/if}} {{/if}}
  {{/if}}
</template>

<template name="passiveScreen">
  <div class="panel panel-default">
    <div class="panel-body">
      The villager/passive player screen.
      The idea here is that there will be some mini-game to play before being allowed to move on.
    </div>
  </div>

  <button class="btn btn-default js-done">Dismiss</button>
</template>

<template name="werewolfScreen">
  <div class="panel panel-default">
    <div class="panel-body">
      You are a werewolf, so you must pick someone you wish to kill during the night.
      All werewolves must choose the same player before the kill can occur!
    </div>
  </div>

  {{> werewolvesTargetList}}
</template>

<template name="doctorScreen">
  <div class="panel panel-default">
    <div class="panel-body">
      You are the Doctor, you must choose someone to save.
      The person you choose cannot be killed during the night by the werewolves.
    </div>
  </div>

  {{> playerSelectionList}}
</template>

<template name="witchScreen">
  <div class="panel panel-default">
    <div class="panel-body">
      You are the Witch, you must choose someone to hex.
      The person you choose will be unable to speak during the next day.
    </div>
  </div>

  {{> playerSelectionList}}
</template>

<template name="seerScreen">
  <div class="panel panel-default">
    <div class="panel-body">
      <h4>You are the seer, select someone find if they are a werewolf.</h4>
    </div>
  </div>

  {{> playerSelectionList}}
</template>

<template name="nightResults">
  <header>
    <h1>Your actions this night</h1>
  </header>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title {{nightInfo.tag}}">
        {{nightInfo.title}}
      </h3>
    </div>

    <div class="panel-body">
      {{nightInfo.body}}
    </div>
  </div>

  <button class="ok results {{okButton.tag}}">{{okButton.text}}</button>
</template>

<template name="playerSelectionList">
  <div class="list-group">
    {{#each otherPlayers}}
      {{> playerSelection}}
    {{/each}}
  </div>
</template>

<template name="playerSelection">
  <button type="button" class="list-group-item select-player">{{name}}</button>
</template>

<template name="werewolvesTargetList">
  <div class="list-group">
    {{#each werewolfTargets}}
      {{> werewolfTarget}}
    {{/each}}
  </div>
</template>

<template name="werewolfTarget">
  <button class="list-group-item js-select-target
                  {{#if targeted}}list-group-item-danger{{else}}list-group-item-info{{/if}}">
    {{playerName}}{{#if targeted}} ({{targetString}}){{/if}}
  </button>
</template>