<template name="nightTime">
  {{#if doingNightAction}}
    <!-- This is where the players are given their individual screens -->
    {{#if passive}}
      <!--{{> passiveScreen}} It could be that this swaps out for different games depending. -->
      {{> coloursGame}}
    {{else}} {{#if werewolf}}
      {{> werewolfScreen}}
    {{else}} {{#if doctor}}
      {{> doctorScreen}}
    {{else}} {{#if witch}}
      {{> witchScreen}}
    {{else}} {{#if seer}}
      {{> seerScreen}}
    {{/if}} {{/if}} {{/if}} {{/if}} {{/if}}
  {{else}}
    <div class="ui centered page grid main">
      <div class="row">
        <div class="column">
          <h1 class="ui center aligned icon header">
            <i class="moon icon"></i>
            It is Night
          </h1>
        </div>
      </div>

      <div class="row">
        <div class="column">
          {{#if nightActionDone}}
            <div class="ui segment">
              Night action completed, waiting for others.
            </div>
          {{else}}
            <div class="ui segment">
              <div class="ui top attached black label">
                Make sure no-one can see your screen!
              </div>

              <button class="ui fluid massive blue button js-doNightAction">
                Do night action
              </button>
            </div>
          {{/if}}
        </div>
      </div>
    </div>
  {{/if}}
</template>

<template name="passiveScreen">
  <div class="ui centered page grid main">
    <div class="row">
      <div class="column">
        <h1 class="ui center aligned icon header">
          <i class="tree icon"></i>
          You have nothing to do
        </h1>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <div class="ui segment">
          The villager/passive player screen.
          The idea here is that there will be some mini-game to play before being allowed to move on.
        </div>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <button class="ui fluid massive blue button js-done">Dismiss</button>
      </div>
    </div>
  </div>
</template>

<template name="werewolfScreen">
  <div class="ui centered page grid main">
    <div class="row">
      <div class="column">
        <h1 class="ui center aligned icon header">
          <i class="paw icon"></i>
          You are a Werewolf
        </h1>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <div class="ui {{werewolfInfo.tag}} segment">
          {{werewolfInfo.text}}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="column">
        {{> werewolvesTargetList}}
      </div>
    </div>
  </div>
</template>

<template name="doctorScreen">
  <div class="ui centered page grid main">
    <div class="row">
      <div class="column">
        <h1 class="ui center aligned icon header">
          <i class="doctor icon"></i>
          You are the Doctor
        </h1>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <div class="ui segment">
          You are the Doctor, you must choose someone to save.
          The person you choose cannot be killed during the night by the werewolves.
        </div>
      </div>
    </div>

    <div class="row">
      <div class="column">
        {{> playerSelectionList}}
      </div>
    </div>
  </div>
</template>

<template name="witchScreen">
  <div class="ui centered page grid main">
    <div class="row">
      <div class="column">
        <h1 class="ui center aligned icon header">
          <i class="wizard icon"></i>
          You are the Witch
        </h1>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <div class="ui segment">
          You are the Witch, you must choose someone to hex.
          The person you choose will be unable to speak during the next day.
        </div>
      </div>
    </div>

    <div class="row">
      <div class="column">
        {{> playerSelectionList}}
      </div>
    </div>
  </div>
</template>

<template name="seerScreen">
  <div class="ui centered page grid main">
    <div class="row">
      <div class="column">
        <h1 class="ui center aligned icon header">
          <i class="unhide icon"></i>
          You are the Seer
        </h1>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <div class="ui segment">
          You are the seer, select someone find if they are a werewolf.
        </div>
      </div>
    </div>

    <div class="row">
      <div class="column">
        {{> playerSelectionList}}
      </div>
    </div>
  </div>
</template>

<template name="playerSelectionList">
  <div class="ui segment">
    <div class="ui top attached label">
      Select a player
    </div>

    <div class="ui relaxed divided huge selection list">
      {{#each otherPlayers}}
        {{> playerSelection}}
      {{/each}}
    </div>
  </div>

  <div class="ui basic modal confirmCheck">
    <div class="header">
      {{confirm.title}}
    </div>

    <div class="content">
      <p>{{confirm.text}}</p>
    </div>

    <div class="actions">
      <div class="ui cancel inverted blue button">Nevermind</div>
      <div class="ui approve inverted green button">I'm Sure</div>
    </div>
  </div>
</template>

<template name="playerSelection">
  <div class="item select-player">
    {{#if facebookLogin}}
      <div class="ui middle aligned image">
        <img class="ui avatar image" src="{{avatar}}">
      </div>
    {{else}}
      <div class="ui middle aligned image">
        <i class="circular user icon"></i>
      </div>
    {{/if}}

    <div class="middle aligned content">
      <div class="header">{{name}}</div>
    </div>
  </div>
</template>

<template name="werewolvesTargetList">
  <div class="ui segments">
    <div class="ui top attached red label">
      Make your choice
    </div>

    {{#each werewolfTargets}}
      {{> werewolfTarget}}
    {{/each}}
  </div>
</template>

<template name="werewolfTarget">
  <div class="ui {{targetTag}} segment js-select-target">
    {{playerName}} {{#if targeted}}({{targetString}}){{/if}}
  </div>
  <!-- Maybe put a secondary segment here for the target string? -->
</template>

<template name="nightResults">
  <div class="ui centered page grid main">
    <div class="row">
      <div class="column">
        <h1 class="ui center aligned icon header">
          <i class="info icon"></i>
          Your actions this night
        </h1>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <div class="ui segment">
          <h2 class="ui {{nightInfo.tag}} header">{{nightInfo.title}}</h2>
          <p>{{nightInfo.body}}</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <button class="ui fluid massive {{okButton.tag}} button ok">{{okButton.text}}</button>
      </div>
    </div>
  </div>
</template>