<template name="lobbyScreen">
  <div class="ui centered page grid main">
    {{#if currentUser}}
      <div class="row">
        <div class="column">
          <div class="three large ui buttons">
            <button class="ui red button leave-game">
              <i class="reply icon"></i>
              Leave Lobby
            </button>

            <button class="ui {{#if ready}}orange set-nready{{else}}green set-ready{{/if}} button">
              {{#if ready}}
                Set Not Ready
              {{else}}
                Set Ready
              {{/if}}
            </button>

            <button class="ui
              {{#if allReady}}green{{/if}}
              {{#if counting}}red{{/if}}
              button start-game">
              {{#if counting}}
                Cancel ({{countdown}})
              {{else}}
                Start Game
              {{/if}}
            </button>
          </div>
        </div>
      </div>
    {{/if}}

    <div class="row">
      <div class="column">
        <div class="ui segment">
          <div class="ui top attached blue large label">Player List</div>
          <div class="ui relaxed divided list">
            {{#each players}}
              {{> player}}
            {{/each}}
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <div class="ui segment">
          <div class="ui top attached blue large label">Role List</div>
          <div class="ui divided list">
            {{#each roles}}
              {{> role}}
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="whoAmI">
  <div class="ui centered page grid main menuBottom">
    <div class="row">
      <div class="column">
        <h1 class="ui center aligned icon header">
          {{#if roleRevealed}}
            <i class="{{roleIcon}} icon"></i>
            You are a {{roleName}}
          {{else}}
            <i class="help icon"></i>
            Role Hidden
          {{/if}}
        </h1>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <div class="ui raised segment">
          {{#if roleRevealed}}
            <div class="ui header">
              {{roleName}} Description
            </div>
            {{roleText}}
          {{else}}
            Hold button below to reveal you role. Make sure nobody is looking at your screen!
          {{/if}}
        </div>
      </div>
    </div>

    <div class="ui bottom fixed huge one item menu">
      <div class="fitted item">
        <div class="two ui large buttons">
          <button class="ui blue massive button revealRole">Hold to Reveal...</button>
          <button class="ui grey massive button seen-role">OK</button>
        </div>
      </div>
    </div>

  </div>

  <!--<div class="jumbotron role-jumbotron">-->
    <!--<h2>{{playerName}}, you are a {{#if roleRevealed}}{{roleName}}{{else}}...{{/if}}</h2>-->

    <!--<p>-->
      <!--{{roleText}}-->
    <!--</p>-->

    <!--<p class="whoami-buttons">-->
      <!--<a class="btn btn-primary btn-lg revealRole" href="#" role="button">Hold to reveal...</a>-->
      <!--<a class="btn btn-default btn-lg seen-role" href="#" role="button">OK, I'm good...</a>-->
    <!--</p>-->
  <!--</div>-->
</template>

<template name="dayNightCycle">
  {{#if showNightResults}}
    {{> nightResults}}
  {{else}}
    {{#if showEvents}}
      {{> eventsDisplay}}
    {{else}}
      {{#if dayCycle}}
        {{#if nominating}}
          {{> nominationView}}
        {{else}}
          {{#if voting}}
            {{> nominationVoteView}}
          {{else}}
            {{> dayView}}
          {{/if}}
        {{/if}}
      {{else}}
        {{> nightTime}}
      {{/if}}
    {{/if}}
  {{/if}}
</template>

<template name="endGameScreen">
  <div class="ui centered page grid main">
    <div class="row">
      <div class="column">
        <h1 class="ui center aligned icon header">
          {{#if result.vWin}}
            <i class="green tree icon"></i>
          {{else}}
            <i class="red paw icon"></i>
          {{/if}}
          {{result.title}}
        </h1>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <div class="ui segment">
          {{result.text}}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="column">
        {{> eventList}}
      </div>
    </div>

    <div class="row">
      <div class="column">
        <div class="ui segments">
          <div class="ui top attached blue label">
            The Roles
          </div>

          {{#each roleList}}
            <div class="ui {{tag}} segment">
              <i class="{{icon}} icon"></i>
              {{text}}
            </div>
          {{/each}}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <button class="ui fluid large blue button js-seenEndGame">
          OK
        </button>
      </div>
    </div>
  </div>
</template>

<template name="youDiedScreen">
  <div class="ui bottom fixed huge one item menu">
    <div class="fitted item">
      <button class="ui fluid huge blue button js-spectate">Spectate Game</button>
    </div>
  </div>

  <div class="ui centered page grid main menuBottom">
    <div class="row">
      <div class="column">
        <h1 class="ui center aligned icon header">
          <i class="red crosshairs icon"></i>
          You are Dead!
        </h1>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <div class="ui raised segment">
          During the {{deathCycle}} you were {{deathCause}},
          you are now a ghost who can only spectate the rest of the game!
        </div>
      </div>
    </div>
  </div>
</template>