<template name="player">
  <li class="player-list">
    <span class="player-name {{#if ready}}ready{{/if}}">{{name}}</span>
  </li>
</template>

<template name="role">
  <li class="vote-status">
    <button class="vote-down {{#if equals vote -1}}sel{{/if}} {{#if cantVote}}done{{/if}}">-</button>
    <button class="vote-neutral {{#if equals vote 0}}sel{{/if}} {{#if cantVote}}done{{/if}}">o</button>
    <button class="vote-up {{#if equals vote 1}}sel{{/if}} {{#if cantVote}}done{{/if}}">+</button>

    <span class="role-name {{#if roleEnabled}}enabled{{/if}}">{{name}}</span>
  </li>
</template>

<template name="whoAmI">
  <h2 class="player-role-intro">Hi {{playerName}}, you are a </h2>
  <h2 class="player-role-name {{#if roleIsWW}}ww{{/if}}">{{roleName}}</h2>
</template>