/* CSS declarations go here */
body {
    font-family: sans-serif;
    background: darkgrey;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    min-height: 100%;
    background: lightslategrey;
}

header {
    background: darkslategrey;
    padding: 20px 15px 15px 15px;
    position: relative;
}

h1 {
    font-size: 2em;
    margin: 0;
    margin-bottom: 10px;
    display: inline-block;
    margin-right: 1em;
    color: whitesmoke;
}

h2 {
    font-size: 2em;
    margin-right: 0;
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: inline-block;
    color: black;
}

#login-buttons {
    display: block;
    color: antiquewhite;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    position: relative;
    color: orange;
}

li.player-list {
    list-style-type: none;
}

li.vote-status {
    color: blue;
    list-style-type: none;
}

br {
    padding: 10px 15px;
}

button, span {
    background: #4479BA;
    color: #FFF;
    padding: 10px 15px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select: none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    display: inline-flex;
}

a.glyphicon {
    color: white;
    padding: 1px 2px;
}

span.role-name {
    padding: 8px 15px;
    background: darkred;
}

span.role-name.enabled {
    background: green;
}

span.player-name {
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 5px;
    background: darkorange;
}

span.player-name.ready {
    background: green;
}

span.player-role-intro {
    background: darkblue;
    width: 96%;
    margin-left: 2%;
    margin-top: 5px;
    font-size: x-large;
}

span.player-role-name {
    background: darkblue;
    width: 96%;
    margin-left: 2%;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: xx-large;
    visibility: hidden;
}

span.player-role-name.revealed {
    visibility: visible;
}

span.player-role-name.revealed.ww {
    background: darkred;
}

span.majority {
    width: 60%;
    visibility: hidden;
    background: darkgreen;
    font-size: large;
}

span.majority.reached {
    visibility: visible;
}

span.majority.reached.lynch {
    background: darkred;
}

button.game-running {
    background: dimgrey;
}

button.sel {
    background: #356094;
    border: solid 1px #2A4E77;
    text-decoration: none;
}

button.selected {
    border: inset;
}

button.sel.vote-neutral {
    background: #356094;
}
button.sel.vote-down {
    background: darkred;
}
button.sel.vote-up {
    background: green;
}

button.done {
    background: dimgray;
    border: solid 1px dimgrey;
}

button.seen-role {
    background: darkgreen;
    width: 96%;
    margin-left: 2%;
    margin-top: 2px;
    font-size: xx-large;
}

button.start-game {
    background: dimgrey;
}

button.start-game.all-ready {
    background: green;
}

button.start-game.counting {
    background: darkred;
}

button.revealRole {
    background: forestgreen;
    font-size: x-large;
    width: 96%;
    margin-left: 2%;
}

button.revealRole.revealed {
    background: darkgreen;
    border: inset;
}

button.lynch {
    font-size: xx-large;
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 96%;
    height: 60%;
}

button.lynch.nominate {
    background: darkred;
}

button.lynch.do-nothing {
    background: darkblue;
}

button.lynch.selected {
    background: mediumblue;
}

button.ok {
    margin-left: 2%;
    width: 96%;
    background: darkgreen;
}

button.cancel {
    margin-left: 2%;
    background: darkblue;
    width: 96%;
}

button.vote {
    margin-left: 2%;
    margin-top: 1%;
    width: 96%;
    font-size: xx-large;
    text-align: center;
    height: 35%;
}

button.vote.do-lynch {
    background: darkred;
}

button.vote.dont-lynch {
    background: darkblue;
}

button.vote.abstain {
    background: darkslateblue;
}

span.vote {
    margin-left: 2%;
    width: 96%;
    font-size: large;
    text-align: left;
}

span.vote.players-for {
    background: darkorange;
}

span.vote.players-against {
    background: mediumblue;
}

span.event-text {
    margin-left: 2%;
    width: 96%;
    font-size: large;
}

span.event-text.vDeath {
    background: darkred;
}

span.event-text.wwDeath {
    background: darkred;
}

span.event-text.warning {
    background: darkorange;
}

button.ok.waiting {
    background: dimgrey;
}

h3.aggressive {
    color: darkred;
}

h3.passive {
    color: green;
}

.role-jumbotron {
    height: 300px;
    position: relative;
    padding-bottom: 20px;
    margin-top: 20px;
}

.whoami-buttons {
    position: absolute;
    bottom: 0;
    left: 20px;
}