/* CSS declarations go here */
body {
    /*font-family: sans-serif;*/
    /*background: lightblue;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*right: 0;*/
}

.ui.grid.main {
    margin-top: 0;
}

.ui.grid.main.menuBottom {
    margin-bottom: 70px;
}

.ui.menu {
    border-radius: 0px !important;
}

#login-buttons {
    display: block;
    color: antiquewhite;
}

ul {
    margin: 0;
    padding: 0;
}