<template name="gameDetail">
  <div class="ui centered page grid main menuBottom">
    <div class="row">
      <div class="column">
        <h1 class="uim center aligned icon header">
          <!-- TODO add the icon for who won -->
          <!-- TODO give the game a title based on who won -->
        </h1>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <!-- TODO add a small label under the header for when the game was played -->
      </div>
    </div>
  </div>
</template>