<template name="spectatorScreen">
  <div class="ui bottom fixed huge one item menu">
    <div class="fitted item">
      <button class="ui fluid massive blue button js-endSpectate">Go back</button>
    </div>
  </div>

  <div class="ui centered page grid main menuBottom">
    <div class="row">
      <div class="column">
        <h1 class="ui center aligned icon header">
          <i class="find icon"></i>
          You are Spectating
        </h1>
      </div>
    </div>

    <div class="row">
      <div class="column">
        {{> eventList}}
      </div>
    </div>
  </div>
</template>